<html xmlns:th="http://www.thymLeaf.org">

<head>
    <meta http-equiv="Content-Type" content= "text/html charset=utf-8"/>
    <title th:text="${pageTitle}">Ez az alap cím</title>
    <link rel="stylesheet" th:href="@{css/main.css}" href="../../../../../../SFJ_SpringBoot/src/main/resources/static/css/main.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

    <link href='https://fonts.googleapis.com/css?family=Calibri' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css' />

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<article>
    <header  >
        <h1 th:text="${error}">Ez itt a cím!</h1>
    </header>

    <section>
        <p th:text="${messageHU}">Magyarnyelvű hibaüzenete</p>
        <p th:text="${timestamp}">A hiba ideje</p>
        <p th:text="${status}">Hiba státusz</p>
    </section>


</article>

</body>

</html>